.square-row {
  display: flex;
  justify-content: center;
}

.wall-row {
  display: flex;
  justify-content: center;
  /*padding-right: 70px;*/
}

.hwall-wrapper {
  position: relative;
  margin-left: 70px;
  margin-top: -5px;
}

.hwall-wrapper:first-child {
  margin-left: -120px;
}

.hwall1 {
}
