.wall-row {
  display: flex;
  justify-content: center;
}

.square-row {
  display: flex;
  justify-content: center;
}

.hwall-wrapper {
  position: relative;
  margin-left: 70px;
  margin-top: -5px;

}

.hwall-wrapper:first-child {
  margin-left: -120px;
}

.vwall-wrapper {
  position: relative;
  margin: 10px 10px 0 0px;
}

.game-info {
  position: absolute;
  right: 140px;
  top: 17px;
}
