.square-first-row {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: #EEEEEE;
}

.square-first-row:hover {
  background-color: #DDDDDD;
  transition-delay: 0.1s;
}

.square {
  height: 50px;
  width: 50px;
  margin: 10px 5px;
  background-color: #EEEEEE;
}

.square:hover {
  background-color: #DDDDDD;
  transition-delay: 0.1s;
}

.player1 {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.square-first-row:hover > .player1Next {
  transition-delay: 0.1s;
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.3;
}

.square:hover > .player1Next {
  transition-delay: 0.1s;
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.3;
}

.player2 {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.square-first-row:hover > .player2Next {
  transition-delay: 0.1s;
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.3;
}

.square:hover > .player2Next {
  transition-delay: 0.1s;
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  opacity: 0.3;
}
