.square-first-row {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: #EEEEEE;
}

.square-first-row:hover {
  background-color: #DDDDDD;
}

.square {
  height: 50px;
  width: 50px;
  margin: 10px 5px;
  background-color: #EEEEEE;
}

.square:hover {
  background-color: #DDDDDD;
}

.player1 {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.player2 {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}
