.hwall {
  width: 5rem;
  height: 1rem;
  background-color: #EEEEEE;
  position: absolute;
}

.hwall:hover {
  width: 12rem;
  height: 1rem;
  background-color: #DDDDDD;
  z-index: 1;
}

.vwall {
  width: 1rem;
  height: 5rem;
  background-color: #EEEEEE;
  position: absolute;
}

.vwall:hover {
  width: 1rem;
  height: 12rem;
  background-color: #DDDDDD;
  z-index: 1;
  transform: rotate(180deg);
  bottom: 1rem;
  /*transform-origin: top;*/
}
