.hwall {
  width: 50px;
  height: 10px;
  background-color: #EEEEEE;
  position: absolute;
}

.hwall:hover {
  width: 120px;
  height: 10px;
  background-color: #DDDDDD;
  z-index: 1;
  transition-delay: 0.1s;
}

.hwall-player1 {
  width: 120px;
  height: 10px;
  background-color: #999999;
  z-index: 1;
  position: absolute;
}

.hwall-player2 {
  width: 120px;
  height: 10px;
  background-color: #999999;
  z-index: 1;
  position: absolute;
}

.vwall {
  width: 10px;
  height: 50px;
  background-color: #EEEEEE;
  position: absolute;
}

.vwall:hover {
  width: 10px;
  height: 120px;
  background-color: #DDDDDD;
  z-index: 1;
  transform: rotate(180deg);
  bottom: 10px;
  transition-delay: 0.1s;
  /*transform-origin: top;*/
}

.vwall-player1 {
  width: 10px;
  height: 120px;
  background-color: #999999;
  z-index: 1;
  transform: rotate(180deg);
  bottom: 10px;
  position: absolute;
  /*transform-origin: top;*/
}

.vwall-player2 {
  width: 10px;
  height: 120px;
  background-color: #999999;
  z-index: 1;
  transform: rotate(180deg);
  bottom: 10px;
  position: absolute;
  /*transform-origin: top;*/
}
