.vacant {
  background-color: #EEEEEE;
  position: absolute;
}

.vacant:hover {
  background-color: #DDDDDD;
  z-index: 1;
  transition-duration: 0.1s;
}

.occupied {
  background-color: #999999;
  z-index: 1;
  position: absolute;
}

.hwall {
  width: 5rem;
  height: 1rem;
}

.hwall:hover, .hwall .occupied {
  width: 12rem;
}

.vwall {
  width: 1rem;
  height: 5rem;
}

.vwall:hover, .vwall .occupied {
  height: 12rem;
  margin-top: -7rem;
}
